/* global code css */
* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Titillium Web', sans-serif;
    height: 17000px;
}
.flex {
    display: flex;
}
.classic-list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.container {
    margin: 0 auto;
    padding: 0 15px;
}
.res-img {
    width: 100%;
}
input:focus ,
button:focus{
    outline: none;
}
.my-button {
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    border-radius: 35px;
    padding: 10px 20px;
    cursor: pointer;
    transition: .5s all ease-in-out;
}
/**********************************************/
/* start to top button */
.to-top {
    font-size: 25px;
    color: white;
    line-height: 1em;
    position: fixed;
    bottom: 0;
    right: 40px;
    background-color: #717fe0;
    z-index: 999;
    cursor: pointer;
    display: none;
    width: 40px;
    height: 38px;
    opacity: 0.5;
    text-align: center;
    line-height: 38px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
}
.to-top:hover {
    opacity: 1;
}
/* start top bar */
.top-bar {
    background-color: #222222;
    color: #B2B2B2;
}
.top-bar .container .left-topbar {
    width: 400px;
}
.top-bar .container .left-topbar p {
    font-size: 13px;
    color: #b2b2b2;
    padding: 13px 0;
}
.top-bar .container .right-topbar {
    width: 100%;
    text-align: right;
}
.top-bar .container .right-topbar ul li {
    display: inline-block;
    padding: 13px 20px;
    font-size: 13px;
    border-right: 1px solid #8f8f8f;
}
.top-bar .container .right-topbar ul li:first-of-type {
    border-left: 1px solid #8f8f8f;
}
.top-bar .container .right-topbar ul li a {
    text-decoration: none;
    color: #B2B2B2;
    transition: .3s all ease-in-out;
}
.top-bar .container .right-topbar ul li a:hover {
    color: #6c7ae0;
}
@media (max-width: 992px) { /* media for top bar */
    .top-bar {
        display: none !important;
    }
}
/* end top bar */
/**********************************************/
/* start your cart */
.your-cart {
    z-index: 1000;
    position: fixed;
    right: -100%;
    height: 100vh;
    width: 350px;
    background-color: #fff;
    transition: .5s right ease-in-out;
    padding: 30px;
}
.your-cart .close-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 25px;
    cursor: pointer;
    color: #333;
}
.your-cart h3 {
    margin: 10px 20px 40px 0;
    font-size: 20px;
    color: #333;
    font-weight: bold;
}
.your-cart .box-cart {
    margin-bottom: 20px;
}
.your-cart .box-cart img {
    margin-right: 15px;
}
.your-cart .box-cart .data a {
    display: block;
    text-decoration: none;
    color: #555;
    margin-bottom: 15px;
}
.your-cart .box-cart .data span {
    color: #888;
}
.your-cart .total {
    margin-top: 45px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: bold;
}
.your-cart button {
    background-color: #222;
    color: #fff;
    margin-right: 20px;
    margin-top: 50px;
}
.your-cart button:hover {
    background-color: #717fe0;
}
/****************************************/
/* start menu click */
.menu-click {
    position: fixed;
    width: 100%;
    top: 87px;
    z-index: 1000;
    display: none;
}
.menu-click .top {
    background-color: #222;
    color: #b2b2b2;
    padding: 5px 10px;
}
.menu-click > .classic-list {
    background-color: #717FE0;
    padding: 5px 0;
}
.menu-click .top .second ul li {
    display: inline-block;
    padding: 7px ;
    font-size: 13px;
    border-right: 1px solid #8f8f8f;
    margin: 5px 0;
}
.menu-click .top .second ul li:first-of-type {
    border-left: 1px solid #8f8f8f;
}
.menu-click .top .second ul li a {
    text-decoration: none;
    color: #B2B2B2;
    transition: .3s all ease-in-out;
}
.menu-click .top .second ul li a:hover {
    color: #6c7ae0;
}
.menu-click > .classic-list >li {
    padding: 5px 0;
    width: 100%;
}
.menu-click > .classic-list >li.dropdown {
    position: relative;
}
.menu-click > .classic-list >li.dropdown ul {
    background-color: #fff;
    padding: 5px 10px ;
    display: none;
}
.menu-click > .classic-list >li.hot {
    position: relative;
}
.menu-click > .classic-list >li.hot:after {
    content: "Hot";
    position: absolute;
    top: 2px;
    left: 80px;
    font-size: 10px;
    color: #fff;
    background-color: #F74877;
    padding: 2px 5px;
    border-radius: 8px;
}
.menu-click > .classic-list >li.dropdown ul li a {
    color: #333;
    text-decoration: none;
}
.menu-click > .classic-list >li.dropdown i {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.menu-click > .classic-list >li > a{
    text-decoration: none;
    color: #fff;
    margin-left: 10px;
}
@media (min-width:992px) {
    .menu-click {
        display: none !important;
    }
}
/**************************************/
.search-box {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(255,255,255,.8);
    z-index: 1001;
    /*top: -100%; */
    transition: .5s all ease-in-out;
    display: none;
}
.search-box .closeicon {
    position: absolute;
    top: 20%;
    right: 20%;
    font-weight: bold;
    font-size: 50px;
    cursor: pointer;
    color: #666;
}
.search-box .box {
    background-color: #fff;
    border: 1px solid rgb(173, 173, 173);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 35px 20px;
    transform: translate(-50%, -50%);
}
.search-box .box i {
    font-size: 40px;
    cursor: pointer;
    margin-right: 10px;
    transition: .3s;
    width: 50px;
    color: #666;
}
.search-box .box i:hover {
    color: #717fe0;
}
.search-box .box input {
    border: none;
    font-size: 30px;
    width: 100%;
}
@media (max-width:992px) {
    .search-box .box {
        width: 80%;
    }
}
/* end your cart */
/**********************************************/
/* start header */
.fixed-nav {
    background-color: #fff;
    width: 100%;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.1);
}
.header-section {
    height: 100vh;
    background-image: url(../images/slide-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.header-section .nav-bar {
    padding: 10px 0;
    z-index: 999;
}
.header-section .nav-bar .menu {
    width: 100%;
}
.header-section .nav-bar .menu .head {
    font-size: 23px;
    padding: 20px 35px 20px 0;
}
.header-section .nav-bar .menu .head span {
    font-weight: bold;
}
.header-section .nav-bar .menu ul li {
    display: inline-block;
    padding: 24px 15px;
    font-size: 17px;
}
.header-section .nav-bar .menu ul li a {
    text-decoration: none;
    color: #333;
    transition: .3s;
}
.header-section .nav-bar .menu ul li a.active ,
.header-section .nav-bar .menu ul li a:hover {
    color: #0056b3;
}
.header-section .nav-bar .menu ul li.dropdown {
    position: relative;
}
.header-section .nav-bar .menu ul li.dropdown ul {
    position: absolute;
    width: 150px;
    background-color: #fff;
    margin-top: 20px;
    box-shadow: 4px 4px 25px rgb(0 0 0 / 30%);
    opacity: 0;
    transition: .5s opacity ease-in-out;
}
.header-section .nav-bar .menu ul li.dropdown ul li {
    padding: 10px 0 10px 15px;
    color: #333;
    font-size: 15px;
}
.header-section .nav-bar .menu ul li.dropdown:hover ul {
    opacity: 1;
}
.header-section .nav-bar .menu ul li.hot {
    position: relative;
}
.header-section .nav-bar .menu ul li.hot:after {
    content: "Hot";
    position: absolute;
    top: 2px;
    right: -7px;
    font-size: 12px;
    color: #fff;
    background-color: #F74877;
    padding: 2px 5px;
    border-radius: 8px;
}
.header-section .nav-bar div.search {
    width: 400px;
    text-align: right;
}
.header-section .nav-bar .search ul li {
    display: inline-block;
    color: #333;
    font-size: 20px;
    padding: 20px 15px;
    cursor: pointer;
    transition: .3s;
}
.header-section .nav-bar .search ul li:hover {
    color: #717fe0;
}
.header-section .nav-bar .search ul li.cart , 
.header-section .nav-bar .search ul li.heart {
    position: relative;
}
.header-section .nav-bar .search ul li.cart:after ,
.header-section .nav-bar .search ul li.heart:after {
    content: "2";
    position: absolute;
    top: 10px;
    right: 4px;
    font-size: 13px;
    color: #fff;
    background-color: #717fe0;
    padding: 1px 4px;   
}
.header-section .nav-bar .search ul li.heart:after {
    content: "0";
}
.header-section .nav-bar .nav-icon {
    margin: 20px 10px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.header-section .content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.header-section .content h3 {
    font-size: 28px;
    line-height: 1.2857;
    color: #333;
}
.header-section .content span {
    font-family: PlayfairDisplay-Bold;
    font-size: 60px;
    line-height: 1.1;
    text-transform: uppercase;
    color: #333;
    margin: 15px 0;
    display: block;
}
.header-section .content .my-button {
    background-color: #717fe0;
    color: #fff;
    padding: 10px 30px;
}
.header-section .content .my-button:hover {
    background-color: #333;
}
/* media for nav bar */
@media(max-width: 992px) {
    .nav-bar {
        background-color: #fff;
    }
    .nav-bar .container .menu >ul {
        display: none;
    }
    .header-section .nav-bar .nav-icon {
        display: block;
    }
    .header-section .content h3 {
        font-size: 22px;
    }
    .header-section .content span {
        font-size: 40px;
    }
}
@media (max-width:576px) {
    .header-section .nav-bar .menu .head {
        padding-right: 15px;
    }
}
/* end header */
/***********************************************/
/* start our product */
.ourProduct {
    padding: 40px 0;
}
.ourProduct .container .product-box {
    margin: 0 1%;
    position: relative;
    transition: .4s all ease-in-out;
    cursor: pointer;
    border: 1px solid rgb(202, 202, 202);
}
.ourProduct .container .product-box:last-of-type {
    margin-right: 0;
}
.ourProduct .container .product-box .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: .5s all ease-in-out;
}
.ourProduct .container .product-box .overlay h3 {
    color: #333;
    font-size: 28px;
    line-height: 1.1;
    margin: 30px;
    transition: .4s all ease-in-out;
}
.ourProduct .container .product-box .overlay h3 span {
    display: block;
    font-size: 14px;
    line-height: 1.7;
    color: #555;
    transition: .4s all ease-in-out;
}
.ourProduct .container .product-box .overlay >span {
    font-size: 15px;
    line-height: 1.466667;
    text-transform: uppercase;
    padding-bottom: 6px;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: 30px;
    left: 30px;
    color: #fff;
    display: none;
    transition: .5s display ease-in-out;
}
.ourProduct .container .product-box:hover .overlay {
    background-color: rgba(103,117,214,.8);
}
.ourProduct .container .product-box:hover .overlay h3 ,
.ourProduct .container .product-box:hover .overlay h3 span {
    color: #fff;
}
.ourProduct .container .product-box:hover .overlay >span {
    display: block;
}
@media (max-width: 767px) {
    .ourProduct .flex {
        flex-wrap: wrap;
    }
    .ourProduct .container .product-box {
        width: 98%;
        margin: 10px auto;
    }
}
@media (min-width: 768px) and (max-width:1200px) {
    .ourProduct .flex {
        flex-wrap: wrap;
    }
    .ourProduct .container .product-box {
        width: 46%;
        margin-bottom: 20px;
    }
    .ourProduct .container .product-box:last-of-type {
        margin: 10px auto;
    }
}
/************************************************/
/* start product overview */
.overview-product {
    padding: 40px 0;
}
.overview-product .container h2 {
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.overview-product .container .classic-list {
    width: 100%;
}
.overview-product .container > .flex > .classic-list li {
    display: inline-block;
    padding: 5px;
    margin: 0 7px;
    cursor: pointer;
    color: rgb(104, 104, 104);
}
.overview-product .container > .flex > .classic-list li.active ,
.overview-product .container > .flex > .classic-list li:hover {
    border-bottom: 1px solid;
    color: #000;
}
.overview-product .container .options {
    width: 400px;
}
.overview-product .container .options div {
    width: 50%;
    margin: 5px 10px;
    border: 1px solid rgb(199, 199, 199);
    padding: 7px 0;
    text-align: center;
    color: #222;
    font-size: 14px;
    cursor: pointer;
    transition: .4s all ease-in-out;
    position: relative;
}
.overview-product .container .options div i {
    margin-right: 5px;
}
.overview-product .container .options div span {
    font-size: 16px;
}
.overview-product .container .options div:hover {
    color: #fff;
    background-color: #717FE0;
    border: 1px solid #717FE0;
}

.overview-product .container > .search {
    width: 100%;
    padding: 15px;
    border: 1px solid rgb(199,199,199);
    margin-top: 15px;
    display: none;
}
.overview-product .container > .search i {
    font-size: 18px;
    color: #222;
    margin-right: 10px;
}
.overview-product .container > .search input {
    border: none;
    width: 80%;
    font-size: 18px;
}
.overview-product .filterbox {
    background-color: #F2F2F2;
    padding: 20px;
    margin-top: 15px;
    display: none;
}
.overview-product .filterbox >div {
    width: calc(100%/3);
}
.overview-product .filterbox >div h3 {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}
.overview-product .filterbox >div ul li {
    font-size: 16px;
    line-height: 1.2;
    padding-top: 5px;
    padding-bottom: 6px;
    color: #666666;
    cursor: pointer;
}
.overview-product .filterbox .color ul li span {
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.overview-product .filterbox >div ul li.active ,
.overview-product .filterbox >div ul li:hover{
    color: #6c7ae0;
}
@media (max-width:540px) {
    .overview-product .filterbox.flex {
        flex-wrap: wrap;
    }
    .overview-product .filterbox.flex >div{
        width: 100%;
    }
    .overview-product .filterbox >div h3 {
        margin-top: 10px;
    }
}
@media (max-width:767px) {
    .overview-product .container > .flex:first-of-type {
        flex-wrap: wrap;
    }
    .overview-product .container > .flex:first-of-type >div {
        width: 100%;
    }
    .overview-product .container .options .filter , 
    .overview-product .container .options .search
    {
        width: 130px;
        padding: 10px 0;
        margin-top: 10px;
        margin-right: 10px;
    }
}
@media (max-width:1200px) {
    .overview-product > .container {
        max-width: 100% ;
    }
}
.overview-product .products-over.flex {
    flex-wrap: wrap;
}
.overview-product .products-over .pro-box {
    width: calc(25% - 2%);
    margin: 15px 1%;
}
.overview-product .products-over .pro-box .image {
    position: relative;
    overflow: hidden;
    
}
.overview-product .products-over .pro-box .image .my-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    background-color: #fff;
    color: #333;
}
.overview-product .products-over .pro-box .image .my-button:hover {
    background-color: #333;
    color: #fff;
}
.overview-product .products-over .pro-box .image img {
    transition: .5s all ease-in-out;
}
.overview-product .products-over .pro-box .image:hover img {
    transform: scale(1.1);
}
.overview-product .products-over .pro-box .image:hover button {
    display: block;
}
.overview-product .products-over .pro-box .info div {
    padding: 7px 0;
    position: relative;
}
.overview-product .products-over .pro-box .info div a {
    text-decoration: none;
    color: rgb(155, 155, 155);
    transition: .3s;
}
.overview-product .products-over .pro-box .info div a:hover ,
.overview-product .products-over .pro-box .info div i:hover {
    color: #717fe0;
}
.overview-product .products-over .pro-box .info div i {
    position: absolute;
    right:5px;
    color: rgb(155, 155, 155);
    cursor: pointer;
}
.overview-product .products-over .pro-box .info span {
    color: rgb(107, 107, 107);
}
.overview-product .container > .my-button {
    margin: 30px auto;
    color: #444;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.overview-product .container > .my-button:hover {
    color: #fff;
    background-color: #333;
}
@media (max-width: 579px) {
    .overview-product .products-over .pro-box {
        width: calc(100% - 2%) !important;
    }
}
@media (min-width: 580px) and (max-width:767px) {
    .overview-product .products-over .pro-box {
        width: calc(50% - 2%) !important;
    }
}
@media (min-width: 768px) and (max-width:992px) {
    .overview-product .products-over .pro-box {
        width: calc(33.333% - 2%);
    }
}
/************************************************/
/* globa media */
@media (max-width: 575px) {

}
@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}